## 7.1 Converting Strings to Dates

In [2]:
import numpy as np
import pandas as pd

date_strings = np.array([
    '03-04-2005 11:35 PM',
    '23-05-2010 12:01 AM',
    '04-09-2009 09:09 PM'
])

# convert to datetimes
[pd.to_datetime(date, format='%d-%m-%Y %I:%M %p') for date in date_strings]

[Timestamp('2005-04-03 23:35:00'),
 Timestamp('2010-05-23 00:01:00'),
 Timestamp('2009-09-04 21:09:00')]

In [3]:
[pd.to_datetime(date, format='%d-%m-%Y %I:%M %p', errors='coerce') for date in date_strings]

[Timestamp('2005-04-03 23:35:00'),
 Timestamp('2010-05-23 00:01:00'),
 Timestamp('2009-09-04 21:09:00')]

### See Also
* http://strftime.org/

## 7.2 Handling Time Zones

In [4]:
import pandas as pd

pd.Timestamp('2017-05-01 06:00:00', tz='Europe/London')

Timestamp('2017-05-01 06:00:00+0100', tz='Europe/London')

In [5]:
date = pd.Timestamp('2017-05-01 06:00:00')

date_in_london = date.tz_localize('Europe/London')

date_in_london

Timestamp('2017-05-01 06:00:00+0100', tz='Europe/London')

In [6]:
date_in_london.tz_convert('Africa/Abidjan')

Timestamp('2017-05-01 05:00:00+0000', tz='Africa/Abidjan')

In [7]:
dates = pd.Series(pd.date_range('2/2/2002', periods=3, freq='M'))
 
dates.dt.tz_localize('Africa/Abidjan')

0   2002-02-28 00:00:00+00:00
1   2002-03-31 00:00:00+00:00
2   2002-04-30 00:00:00+00:00
dtype: datetime64[ns, Africa/Abidjan]

In [8]:
from pytz import all_timezones

all_timezones[0:2]

['Africa/Abidjan', 'Africa/Accra']

## 7.3 Selecting Dates and Times

In [9]:
import pandas as pd

dataframe =pd.DataFrame()

#create datetimes
dataframe['date']= pd.date_range('1/1/2020', periods=100000, freq ='H')

print(dataframe)
#select observations between 2 datetimes
dataframe[(dataframe['date'] > '2020-1-1 01:00:00') & (dataframe['date'] <= '2020-1-1 04:00:00') ]

                     date
0     2020-01-01 00:00:00
1     2020-01-01 01:00:00
2     2020-01-01 02:00:00
3     2020-01-01 03:00:00
4     2020-01-01 04:00:00
...                   ...
99995 2031-05-29 11:00:00
99996 2031-05-29 12:00:00
99997 2031-05-29 13:00:00
99998 2031-05-29 14:00:00
99999 2031-05-29 15:00:00

[100000 rows x 1 columns]

                 date
2 2020-01-01 02:00:00
3 2020-01-01 03:00:00
4 2020-01-01 04:00:00

In [10]:
#alternatively we can set the date column as the dataframe's index and then slice using loc:

#set index
dataframe=dataframe.set_index(dataframe['date'])

#select observations between 2 datetimes

dataframe.loc['2020-1-1 01:00:00':'2020-1-1 04:00:00']

                                   date
date
2020-01-01 01:00:00 2020-01-01 01:00:00
2020-01-01 02:00:00 2020-01-01 02:00:00
2020-01-01 03:00:00 2020-01-01 03:00:00
2020-01-01 04:00:00 2020-01-01 04:00:00

## 7.4 Breaking Up Date Data into Multiple Features

In [11]:
import pandas as pd

dataframe =pd.DataFrame()

#create 5 datetimes
dataframe['date']= pd.date_range('1/1/2020', periods=150, freq ='W')

#select observations between 2 datetimes
dataframe[(dataframe['date'] > '2020-1-1 01:00:00') & (dataframe['date'] <= '2020-1-1 04:00:00') ]

#create features for year,month,day,hour and minute

dataframe['year']=dataframe['date'].dt.year
dataframe['month']=dataframe['date'].dt.month
dataframe['day']=dataframe['date'].dt.day
dataframe['hour']=dataframe['date'].dt.hour
dataframe['minute']=dataframe['date'].dt.minute

dataframe.head(3)

        date  year  month  day  hour  minute
0 2020-01-05  2020      1    5     0       0
1 2020-01-12  2020      1   12     0       0
2 2020-01-19  2020      1   19     0       0

## 7.5 Calculating the Difference Between Dates

In [15]:
import pandas as pd
dataframe =pd.DataFrame()

#create 2 datetime

dataframe['Arrived']= [pd.Timestamp('01-01-2020'), pd.Timestamp('01-04-2020')]
dataframe['Left']= [pd.Timestamp('01-01-2020'), pd.Timestamp('01-06-2020')]

#calculate duration between features
delta = dataframe['Left']-dataframe['Arrived']
print(delta)
print(delta.dtype)

0   0 days
1   2 days
dtype: timedelta64[ns]
timedelta64[ns]

In [13]:
#often we want to remove the days in the output and keep only the numerical value
pd.Series( delta.days for delta in (dataframe['Left']-dataframe['Arrived']))

0    0
1    2
dtype: int64

## 7.6 Encoding Days of the Week

In [16]:
import pandas as pd

dataframe =pd.DataFrame()

#create  datetimes
dataframe['date']= pd.date_range('2/2/2020', periods=3, freq ='M')

#show the days of the week
dates.dt.weekday_name

0    Thursday
1      Sunday
2     Tuesday
dtype: object

In [17]:
#since numerical values are more useful features in ML, use weekday attributw ti represent the days of the week as an integer

dates.dt.weekday #knowing the weekday is useful es: if we want to compare total sales on sundays for the past 3 years

0    3
1    6
2    1
dtype: int64

## 7.7 Creating Lagged Feature

In [18]:
import pandas as pd

dataframe =pd.DataFrame()

#create 5 datetimes
dataframe['date']= pd.date_range('1/1/2020', periods=5, freq ='D')
dataframe['stock_price']=[1.1,2.2,3.3,4.4,5.5]

#lagged values by one row
dataframe['previous_days_stocl_price']=dataframe['stock_price'].shift(1)  #lagging a feature

dataframe

        date  stock_price  previous_days_stocl_price
0 2020-01-01          1.1                        NaN
1 2020-01-02          2.2                        1.1
2 2020-01-03          3.3                        2.2
3 2020-01-04          4.4                        3.3
4 2020-01-05          5.5                        4.4

## 7.8 Using Rolling Time Windows

In [19]:
import pandas as pd

time_index = pd.date_range('01/01/2010', periods=5, freq='M')

df = pd.DataFrame(index=time_index)
df['Stock_Price'] = [1,2,3,4,5]
print(df)
df.rolling(window=2).mean()  #mean(), count(), max(), corr()

#How to understnd rolling mean?

#Imagine that you have  monthly observations of a stock's price.
#It is often useful to have a time window of certain number of months and then move over the observations 
# calculating a statistic of all observations in the time window

#Rolling means are often used to smooth out time series data because using themean of the entire time window dampens the effect of short-term fluctuations.

            Stock_Price
2010-01-31            1
2010-02-28            2
2010-03-31            3
2010-04-30            4
2010-05-31            5

            Stock_Price
2010-01-31          NaN
2010-02-28          1.5
2010-03-31          2.5
2010-04-30          3.5
2010-05-31          4.5

### See Also
* pandas documentation: Rolling Windows (https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.rolling.html)
* What are Moving Average or Smoothing Techniques (https://www.itl.nist.gov/div898/handbook/pmc/section4/pmc42.htm)

## 7.9 Handling Missing Data in Time Series

In [20]:
import pandas as pd
import numpy as np

time_index = pd.date_range('01/01/2010', periods=5, freq='M')

df = pd.DataFrame(index=time_index)

df["Sales"] = [1.0, 2.0, np.nan, np.nan, 5.0]


# When we have time series data we can use interpolation to fill in gaps cused by issing values.
df.interpolate()

            Sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    3.0
2010-04-30    4.0
2010-05-31    5.0

In [0]:
#Alternaively, we can replace missing values with the last known value(i.e, forward -filling)

df.ffill()

            Sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    2.0
2010-04-30    2.0
2010-05-31    5.0

In [0]:
#Alternaively, we can replace missing values with the latest known value(i.e, backward-filling)
df.bfill()

            Sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    5.0
2010-04-30    5.0
2010-05-31    5.0

Interpolation is a technique used for filling gaps caused by missing values by, in effect,  drawing a line between known values brodering the gap and using that line or curve to predict reasonable values. Interpolation can be particularly helpful when the time intervals betweeen are constant, the data is not prone to noise fluctuations, and the gaps caused by missing values are small.

If we believe the line between 2 known points s non linear, we can use interpolate's method to specify the interpolation method:

In [0]:
df.interpolate(method="quadratic")

               Sales
2010-01-31  1.000000
2010-02-28  2.000000
2010-03-31  3.059808
2010-04-30  4.038069
2010-05-31  5.000000

Finally, there might be cases when we have large gaps of missing values and do not want to interpolate values across the entire gap. In these cases we can use limit to restrict the number of interpolated values and limit_direction to set whether to interpolate values forward from at the last known value before the gap or vice-versa:

In [0]:
df.interpolate(limit=1, limit_direction="forward")

            Sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    3.0
2010-04-30    NaN
2010-05-31    5.0

Note:

Back-filling and forward-filling can be thought of form of naive interpolation, where we draw a flat line fron a known value and use it to fill in missing values. One (minor) advantage back- and forward-filling have over interpolation is the lack of the need for known values on both sides of missing value(s).